@font-face {
  font-family: 'Ciguatera';
  src: url('/fonts/ciguatera.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ciguatera';
  src: url('/fonts/ciguatera.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
